@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Header */

.header-top {
    width: auto;
    height: 5vh;
    font-size: 14px;
    background-color: #222222;
    color: #F3F3F3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-top > span {
    margin-left: 20px;
}

.nav-header-top {
    margin-right: 10px;
}

.header-bottom {
    width: auto;
    height: 10vh;
    background-color: #F0A83E;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-bottom img {
    margin-left: 20px;
}

.header-nav-bottom span::before {
    content: url(../img/pawprint\ 4.png);
    color: #FFFFFF;
}

.header-nav-bottom span {
    margin-right: 10px;
    margin-left: 10px;
}

/*  Main  */

/*  First Section  */

.top-body-section {
    height: 80vh;
    width: auto;
    display: flex;
    background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: last baseline;
}

.section-h2 {
    width: auto;
    background-color: #FFFFFF;
    margin-right: 5%;
    position: relative;
    top: 10%;
}

.paragraph-sectiontop {
    position: relative;
    left: 3%;
    bottom: 5%;
}

.comederos-button {
    width: 8%;
    height: 7%;
    border: none;
    background-color: #F0A83E;
    color: #FFFFFF;
    position: relative;
    bottom: 21%;
    left: 4%;
    border-radius: 7%;
    font-weight: lighter;
    font-size: 16px;
}

.comederos-button > button {
    display: cover;
}

/*   Second Section    */

.second-section {
    width: auto;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.second-section img {
    position: relative;
    top: 15%;
}

.second-section h1 {
    font-size: 40px;
    font-weight: bold;
}

.second-section nav {
    position: relative;
    bottom: 15%;
}

.contenedor-tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.tarjeta-churrasquito {
    background-color: #FBFAF6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta-churrasquito p {
    font-size: 15px;
    font-weight: bold;
}

.tarjeta-churrasquito span {
    color: #F0A83E;
    font-size: 15px;
    font-weight: bold;
}

.tarjeta-comedero {
    background-color: #FBFAF6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta-comedero p {
    font-size: 15px;
    font-weight: bold;
}

.tarjeta-comedero span {
    color: #F0A83E;
    font-size: 15px;
    font-weight: bold;
}

.tarjeta-huesito {
    background-color: #FBFAF6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.tarjeta-huesito p {
    font-size: 15px;
    font-weight: bold;
}

.tarjeta-huesito span {
    color: #F0A83E;
    font-size: 15px;
    font-weight: bold;
}

/* Section Form */

.contenedor-form {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 150px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.legend-form {
    font-size: 35px;
    font-weight: bold;
    color: #3C2313;
}

.inputcontact {
    border: none;
    height: 5vh;
    width: 50vh;
    background-color: #3C2313;
    color: #FFFFFF;
    border-radius: 15px;
}

input::placeholder {
    color: #FFFFFF;
}

.button-reset {
    background-color: #8A8787;
    color: #FFFFFF;
    width: 90px;
    height: 35px;
    border: none;
    border-radius: 35px;
}

.button-send {
    background-color: #F0A83E;
    color: #FFFFFF;
    width: 90px;
    height: 35px;
    border: none;
    border-radius: 35px;
}

/* Footer */

/* Top suscribe section */

.footer-top {
    background-color: #F0A83E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}